In [1]:
import pandas as pd

In [2]:
Movie_df=pd.read_csv('Dataset/movies.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(Movie_df)
list(Movie_df)

['id',
 'title',
 'imdbID',
 'spanishTitle',
 'imdbPictureURL',
 'year',
 'rtID',
 'rtAllCriticsRating',
 'rtAllCriticsNumReviews',
 'rtAllCriticsNumFresh',
 'rtAllCriticsNumRotten',
 'rtAllCriticsScore',
 'rtTopCriticsRating',
 'rtTopCriticsNumReviews',
 'rtTopCriticsNumFresh',
 'rtTopCriticsNumRotten',
 'rtTopCriticsScore',
 'rtAudienceRating',
 'rtAudienceNumRatings',
 'rtAudienceScore',
 'rtPictureURL']

In [3]:
UserRatedMovie_df=pd.read_csv('Dataset/user_ratedmovies.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(UserRatedMovie_df)
list(UserRatedMovie_df)

['userID',
 'movieID',
 'rating',
 'date_day',
 'date_month',
 'date_year',
 'date_hour',
 'date_minute',
 'date_second']

In [4]:
UserRatedMovieTS_df=pd.read_csv('Dataset/user_ratedmovies-timestamps.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(UserRatedMovieTS_df)
list(UserRatedMovieTS_df)

['userID', 'movieID', 'rating', 'timestamp']

In [5]:
UserTaggedMovie_df=pd.read_csv('Dataset/user_taggedmovies.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(UserTaggedMovie_df)
list(UserTaggedMovie_df)

['userID',
 'movieID',
 'tagID',
 'date_day',
 'date_month',
 'date_year',
 'date_hour',
 'date_minute',
 'date_second']

In [6]:
UserTaggedMovieTS_df=pd.read_csv('Dataset/user_taggedmovies-timestamps.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(UserTaggedMovieTS_df)
list(UserTaggedMovieTS_df)

['userID', 'movieID', 'tagID', 'timestamp']

In [7]:
MovieTags_df=pd.read_csv('Dataset/movie_tags.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieTags_df)
list(MovieTags_df)

['movieID', 'tagID', 'tagWeight']

In [8]:
MovieLocations_df=pd.read_csv('Dataset/movie_locations.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieLocations_df)
list(MovieLocations_df)

['movieID', 'location1', 'location2', 'location3', 'location4']

In [9]:
MovieGenres_df=pd.read_csv('Dataset/movie_genres.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieGenres_df)
list(MovieGenres_df)

['movieID', 'genre']

In [10]:
MovieDirectors_df=pd.read_csv('Dataset/movie_directors.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieDirectors_df)
list(MovieDirectors_df)

['movieID', 'directorID', 'directorName']

In [11]:
MovieCountries_df=pd.read_csv('Dataset/movie_countries.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieCountries_df)
list(MovieCountries_df)

['movieID', 'country']

In [12]:
MovieActors_df=pd.read_csv('Dataset/movie_actors.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(MovieActors_df)
list(MovieActors_df)

['movieID', 'actorID', 'actorName', 'ranking']

In [22]:
Tags_df=pd.read_csv('Dataset/tags.dat', sep='\t', skiprows=0, encoding='latin-1')
#print(Tags_df)
list(Tags_df)

['id', 'value']

In [30]:
UserRatedMovie_df.loc[UserRatedMovie_df['date_year'] == 2009]

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
1210,190,64497,3.0,3,1,2009,14,57,52
4928,636,586,3.5,2,1,2009,10,35,32
5093,636,4034,3.0,2,1,2009,9,51,49
5119,636,4979,3.0,2,1,2009,9,52,33
5255,636,52694,3.0,2,1,2009,9,53,50
5256,636,53322,3.5,2,1,2009,9,50,20
5266,636,59313,2.5,2,1,2009,10,5,23
5268,636,59421,2.5,2,1,2009,9,55,8
9951,1224,26649,4.5,2,1,2009,4,7,46
10038,1224,52281,2.5,3,1,2009,5,49,48
10045,1224,53519,2.0,3,1,2009,5,50,10
10057,1224,54995,3.5,2,1,2009,5,7,44
18018,1860,8125,3.5,2,1,2009,21,11,31
18537,1860,52950,3.5,2,1,2009,21,11,44
18593,1860,55250,3.0,3,1,2009,21,8,33
18722,1860,60647,3.5,5,1,2009,4,6,5
18731,1860,61248,3.0,2,1,2009,21,12,13
25215,2513,1233,4.5,1,1,2009,8,30,51
25433,2513,8970,4.5,3,1,2009,8,38,32
25445,2513,33660,4.5,1,1,2009,4,20,30
25459,2513,44694,4.0,2,1,2009,4,12,1
26236,2556,1270,2.5,3,1,2009,11,58,43
26266,2556,2011,2.5,3,1,2009,11,58,38
26403,2556,60069,4.5,3,1,2009,11,55,51
30275,2852,60397,3.0,3,1,2009,23,5,6
33550,3057,54997,3.0,3,1,2009,20,25,27
33614,3057,61240,4.5,3,1,2009,4,28,13
33618,3057,61986,3.5,3,1,2009,20,21,57
35931,3174,56788,4.0,1,1,2009,6,35,33
36281,3190,7325,3.5,3,1,2009,15,49,9
...,...,...,...,...,...,...,...,...,...
818103,68986,1250,4.5,1,1,2009,12,35,14
818276,68986,2800,4.0,1,1,2009,12,27,50
818434,68986,5541,3.5,1,1,2009,12,35,21
818440,68986,5690,3.5,1,1,2009,12,35,43
818501,68986,6820,4.5,1,1,2009,12,26,32
818562,68986,8622,2.5,1,1,2009,12,36,49
818580,68986,26693,4.0,1,1,2009,12,23,0
818584,68986,27338,3.0,1,1,2009,12,20,54
818592,68986,27746,4.0,1,1,2009,12,26,12
818647,68986,47999,3.0,1,1,2009,12,36,43
818690,68986,58559,3.0,1,1,2009,12,34,47
818700,68986,63458,3.5,1,1,2009,12,26,55
818701,68986,64508,2.0,1,1,2009,12,22,26
818995,68988,63082,3.5,2,1,2009,13,38,55
818997,68988,64957,3.0,2,1,2009,13,40,16
825399,69469,64716,4.0,3,1,2009,20,56,24
839259,70485,60040,3.0,1,1,2009,1,20,21
843737,70782,2329,4.0,2,1,2009,5,59,43
843783,70782,4878,4.5,2,1,2009,5,59,23
843951,70782,64957,4.5,2,1,2009,5,58,46
844544,70816,401,4.5,2,1,2009,19,10,30
844573,70816,903,4.5,2,1,2009,19,1,33
844769,70816,7299,4.5,2,1,2009,19,4,58
844781,70816,8370,3.5,2,1,2009,19,5,24
844823,70816,57669,4.5,2,1,2009,19,4,35
844826,70816,63082,4.5,3,1,2009,0,10,59
852152,71420,7158,3.0,5,1,2009,5,32,20
852637,71420,57326,2.5,3,1,2009,4,8,8
852803,71478,43376,5.0,4,1,2009,3,10,9
852837,71478,63082,4.5,4,1,2009,3,8,48